<!DOCTYPE html>
<html>
  <head>
    <title>Home Carrez</title>
    <meta name="viewport" charset="utf-8" content="width=device-width, initial-scale=1.0">
    <link href="/Style/bootstrap.min.css" rel="stylesheet">
    <link href="/Style/styles.css" rel="stylesheet">
    <script src="/Js/jquery.min.js"></script>

    <script src="/Js/bootstrap.min.js"></script>
  </head>
  <body>
  	<div class="header">
	     <div class="container">
	        <div class="row">
            <div class="navbar navbar-inverse" role="banner">
              <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
	           <div class="col-md-5">
	              <!-- Logo -->
	              <div class="logo">
	                 <h1><a href="/Accueil">Carrez Home</a></h1>
	              </div>
	           </div>
	           <div class="col-md-7">
	                    <ul class="nav navbar-nav navbar-right">
	                        <li><h1><a href="/calculate">Good Price Or not ?</a></h1></li>
	                        </ul>
	              </div>
              </nav>
	           </div>
	        </div>
	     </div>
	</div>
  <div class="container">
    <div class="row">

    </div>
  </div>
</body>
